# docker-compose.oauth2-proxy.yml

services:
  p4-monitor:
    image: p4-stream-monitor:latest
    container_name: p4-stream-monitor
    environment:
      - FLASK_ENV=production
    env_file:
      - .env
    volumes:
      - p4_data:/app/instance
      - p4_logs:/app/logs
      #
      - ./p4-monitor/config:/app/config
      - ./nginx:/app/nginx
      #
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    networks:
      - p4-monitor-network

  redis:
    image: redis:7-alpine
    container_name: oauth2-redis
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - p4-monitor-network

  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.13.0
    container_name: oauth2-proxy
    environment:
      - OAUTH2_PROXY_PROVIDER=oidc
      - OAUTH2_PROXY_OIDC_ISSUER_URL=${OAUTH2_OIDC_ISSUER_URL}
      - OAUTH2_PROXY_CLIENT_ID==${OAUTH2_CLIENT_ID}
      - OAUTH2_PROXY_CLIENT_SECRET=${OAUTH2_CLIENT_SECRET}
      - OAUTH2_PROXY_COOKIE_SECRET=${OAUTH2_COOKIE_SECRET}
      - OAUTH2_PROXY_EMAIL_DOMAINS=*
      #
      - OAUTH2_PROXY_SCOPE=openid profile email groups
      - OAUTH2_PROXY_OIDC_GROUPS_CLAIM=groups
      - OAUTH2_PROXY_ALLOWED_GROUPS=IT,InternalSupport
      #
      - OAUTH2_PROXY_UPSTREAMS=http://p4-monitor:5000/
      - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
      - OAUTH2_PROXY_REVERSE_PROXY=true
      - OAUTH2_PROXY_PASS_HOST_HEADER=true
      #
      - OAUTH2_PROXY_SESSION_STORAGE_TYPE=redis
      - OAUTH2_PROXY_REDIS_CONNECTION_URL=redis://redis:6379
      #
      - OAUTH2_PROXY_COOKIE_SECURE=true
      - OAUTH2_PROXY_COOKIE_HTTPONLY=true
      #
      - OAUTH2_PROXY_SET_XAUTHREQUEST=true
    restart: unless-stopped
    networks:
      - p4-monitor-network
    depends_on:
      - p4-monitor
      - redis

  nginx-proxy:
    image: nginx:trixie
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - nginx_logs:/var/log/nginx
      #
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./ssl:/etc/nginx/ssl:ro
      #
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    networks:
      - p4-monitor-network
    depends_on:
      - p4-monitor
      - oauth2-proxy

networks:
  p4-monitor-network:
    driver: bridge

volumes:
  p4_data:
  p4_logs:
  nginx_logs:
  redis_data:
